<header>
	<a href="{{ with .Site.GetPage "/home" }}{{ .RelPermalink }}{{ end }}">
        {{ if eq .Kind "home" }}
        <video autoplay muted>
            <source src="{{ "video/logo.mp4" | relURL }}" type="video/mp4">
        </video>
        {{ else }}
        <img src="{{ "img/logo.jpg" | relURL }}" width="80">
        {{ end }}
    </a>
	<nav>
		<ul class="animated">
            {{ range where .Site.RegularPages "Name" "!=" "Inicio" }}
            <li><a href="{{ .Permalink }}" style="color: {{ .Params.color | safeCSS }}">{{ .Name }}</a></li>
            {{ end }}
		</ul>
        {{ partial "hamburger" . }}
	</nav>
</header>

